apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: argocd
  namespace: argocd  # Argo CD가 설치된 네임스페이스로 변경
spec:
  gateways:
    - istio-system/istio-gateway
  hosts:
    - "argocd.{{DOMAIN_NAME}}"  # Argo CD에 접근할 도메인 이름
  http:
    - match:
        - uri:
            prefix: /
      route:
        - destination:
            host: argocd-server  # Argo CD 서버 서비스의 이름
            port:
              number: 80  # Argo CD 서버 서비스의 포트
