apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: keycloak
  namespace: keycloak  # Keycloak이 설치된 네임스페이스로 변경
spec:
  gateways:
    - istio-system/istio-gateway
  hosts:
    - "keycloak.{{ DOMAIN_NAME }}"  # Keycloak에 접근할 도메인 이름
  http:
    - match:
        - uri:
            prefix: /
      route:
        - destination:
            host: keycloak  # Keycloak 서비스의 이름
            port:
              number: 80  # Keycloak 서비스의 포트
